@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4" style="position:absolute; top:15%; left:5%; right:5%; color:black; font-family:'Brush Script MT'">THE RIDE YOU RENT</h2>
    <img class="container" src="~/lib/Images/Ferrari F40.jpg" />
</div>

